<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNG.concept.TestNGAssertions"/>
      <class name="testNG.concept.TestNGDependent"/>
      <class name="testNG.concept.TestNGGroups"/>
      <class name="testNG.concept.TestNGAnnotation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
